.message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.messageTop {
  display: flex;
  align-items: flex-end;
}

.messageImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.messageText {
  padding: 10px 15px;
  border-radius: 18px;
  background-color: #1877f2;
  color: white;
  max-width: 300px;
  word-wrap: break-word;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.messageBottom {
  font-size: 12px;
  margin-top: 5px;
  color: gray;
}

/* Sent messages */
.message.own {
  align-items: flex-end;
}

.message.own .messageTop {
  flex-direction: row-reverse;
}

.message.own .messageImg {
  margin-right: 0;
  margin-left: 10px;
}

.message.own .messageText {
  background-color: rgb(245, 241, 241);
  color: black;
}

/* Optional bubble shape */
.message:not(.own) .messageText {
  border-bottom-left-radius: 0;
}

.message.own .messageText {
  border-bottom-right-radius: 0;
}
